.modal {
  position: fixed;
  z-index: 11;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(100, 100, 100, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none; /* Prevent SCROLL-CHAINING to parent elements. */
}

.modal-content {
  background-color: #fefefe;
  /* margin-top: 25vh; */
  border: 1px solid rgb(220 220 220);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: fit-content;
  min-width: 400px;
  /* min-height: 100px;
  max-height: 600px; */
  /* margin-left: 35vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: 10; */
  overflow: hidden;
  /* position: relative; */
  overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
  position: absolute;
}
.hover_options{
  position: absolute;
  z-index: 2;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  /* width: 100%; */
  /* top: 50%; */
  /* right: 50%; */
  /* visibility: hidden; */
  /* height: 200px; */
  width: 90%;
  height: 90%;
  top: calc((100% - 90%)/2);
  right: calc((100% - 90%)/2);
  /* border: 1px solid red; */
  /* transition: 0.5s ease-in-out; */
}
.preview_button{
  background-color: rgba(32, 83, 107, 0.719);
  /* padding: 3px 10px !important; */
  /* display: flex; */
  /* vertical-align: middle; */

  white-space: nowrap;
  /* display: inline-block; */
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

}
.preview_button:hover{
  background-color: rgba(9, 24, 31, 0.719);
}
.preview{
  box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23), 11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}

.hover_options{
  visibility: hidden;
}
.hidden{
  display: none;
}
.shown_flex{
  display: flex;
}
.shown_block{
  display: block;
}
.x_close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: rgb(24, 219, 245);
}
/* .modal:hover{
  transform: scale(1) !important;
}
.modal>div:hover{
  transform: scale(1) !important;
}
.modal>div>img:hover{
  transform: scale(1) !important;
}
.modal-content:hover{
  transform: scale(1) !important;
}
.modal-content>img:hover{
  transform: scale(1) !important;
} */
.popup_holder{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.popup{
  display: none;
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 200px;
  /* border: 1px solid #0f60a63d; */
  border: 1px solid #ffffff3d;
  border-radius: 10px;
  z-index: 10;
  background-color: #000000a1;
  color: white;
  justify-content: flex-start;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  overflow: hidden;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.418);
  transition: 0.5s ease-in-out;
}
.popup::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff11;
}
.popup::-webkit-scrollbar {
  width: 2px;
}
.popup_holder:hover .popup{
  display: flex;
  /* filter: brightness(1.0); */
  /* opacity: 0; */
  transition: 0.5s ease-in-out;
}

.popup_title{
  position: absolute;
  top: 3px;
  right: 70px;
  color: black;
  width: 140px;
  height: 18px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

/* @media screen and (min-width: 1680px) {
  .popup_title{
    position: absolute;
    top: 3px;
    right: 70px;
    color: black;
    width: 140px;
    height: 18px;
    background-color: white;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
  }
} */

.popup_skill_img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3px;
  left: 3px;
  object-fit: contain;
  background-color: white;
  border-radius: 5px;
  z-index: 10;
  box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23), 11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}
.popup_projs_div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  height: 100%-10px;
  margin-bottom: 10px;
}
.popup_proj_img{
  width: 90px;
  height: 70px;
  margin: 2px;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23), 11.31px 11.31px 17px 0px rgba(138,131,124,0.23); */
}

.resume_prev_and_button{
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.pdf_embed{
  margin-top: 15px;
  width: 800px;
  height: 450px;
  max-width: 100%;
  max-height: calc(max-width);
  display: flex;
  justify-content: center;
}
.escape{
  position: fixed;
  top: -300px;
  width: 5px;
}
/* .prev_img{
  z-index: 10;
} */
.skill_search_box{
  /* visibility: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 400px; */
  /* height: 50px; */
  background-color: rebeccapurple;
  border-bottom: none !important;
}
.search-icon-class {
  font-size: 3.5vh;
  color: rgb(190, 190, 190);
  opacity: 0.5;
  padding: 1vh;
  z-index: 5;
}

.search-icon {
  font-size: 1.3em;
  color: rgb(65, 75, 118);
  opacity: 0.8;

  z-index: 5;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);  
}

.search-icon-x {
  font-size: 1.7em;
  color: rgb(160, 160, 160);
  z-index: 5;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);    
}
/* .search-icon-class:hover{
  color: red;
} */

.main-search-bar {
  height: 32px;
  border-radius: 50px;
  /* width: 100%; */
  border: none;
  font-size: 14px;
  background-color: rgb(240, 240, 249);
  /* padding-left: 40px; */
  /* width: 200px; */
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.main-search-bar.focused {
  width: 400px;
}
.search-and-dropdown-display-main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40%;
  width: 250px;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.search-and-dropdown-display-main-box.focused-search {
  width: 450px;
}


