.modal {
  position: fixed;
  z-index: 11;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(100, 100, 100, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none; /* Prevent SCROLL-CHAINING to parent elements. */
}

.modal-content {
  background-color: #fefefe;
  /* margin-top: 25vh; */
  border: 1px solid rgb(220 220 220);
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: fit-content;
  min-width: 400px;
  /* min-height: 100px;
  max-height: 600px; */
  /* margin-left: 35vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: 10; */
  overflow: hidden;
  /* position: relative; */
  overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
  position: absolute;
}
.hover_options{
  position: absolute;
  z-index: 10;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  /* width: 100%; */
  /* top: 50%; */
  /* right: 50%; */
  /* visibility: hidden; */
  /* height: 200px; */
  width: 90%;
  height: 90%;
  top: calc((100% - 90%)/2);
  right: calc((100% - 90%)/2);
  /* border: 1px solid red; */
  z-index: 10;
}
.preview_button{
  background-color: rgba(32, 83, 107, 0.719);
  /* padding: 3px 10px !important; */
  /* display: flex; */
  /* vertical-align: middle; */

  white-space: nowrap;
  /* display: inline-block; */
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

}
.preview_button:hover{
  background-color: rgba(9, 24, 31, 0.719);
}
.hover_options{
  visibility: hidden;
}
.hidden{
  display: none;
}
.shown_flex{
  display: flex;
}
.x_close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
/* .modal:hover{
  transform: scale(1) !important;
}
.modal>div:hover{
  transform: scale(1) !important;
}
.modal>div>img:hover{
  transform: scale(1) !important;
}
.modal-content:hover{
  transform: scale(1) !important;
}
.modal-content>img:hover{
  transform: scale(1) !important;
} */
