.skill_tab-nav {
  margin: auto;
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.skill_tab-nav.four {
  width: fit-content;
  max-width: 100%;
  /* border-bottom: 1px solid gray; */
}

.skill_tab-nav-option {
  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(142, 142, 142);
  padding: 5px 5px 4px 5px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* margin: auto 10px; */
  border-bottom: 1px solid rgb(142, 142, 142);
  position: relative;
  box-sizing: border-box !important;
  margin-bottom: 15px;
  cursor: pointer;
}


.skill_tab-nav-option svg {
  margin-right: 5px;
  font-size: 16px;
}

.skill_tab-nav-option:hover {
  color: #0F5FA6;
}

.skill_tab-nav-option-active, .p_active {
  color: rgb(142, 142, 142);
  border-top: 1px solid rgb(142, 142, 142);
  border-left: 1px solid rgb(142, 142, 142);
  border-right: 1px solid rgb(142, 142, 142);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
  background-color: #bff0f0;
}
.p_active::after {
  content: '';
  width: calc(100% + 2px);
  height: 8px;
  /* background: #f0f0f0; */
  position: absolute;
  bottom: -1px;
  left: -1px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-radius: 5px 5px 0px 0px;
  mix-blend-mode: overlay;
  /* z-index: 10; */
}
.graph{
  font-size: 15px;
  background-color: #e0f0ff;
}
.p_active.graph{
  background-color: #bff0ff;
}

.next_to_active_right{
  border-radius: 5px 5px 5px 0px;
}
.next_to_active_left{
  border-radius: 5px 5px 0px 5px;
}
.next_to_active_right,
.next_to_active_left{
  /* z-index: 1; */
}

.navdiv{
  margin-top: -35px;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid gray; */
}
.article_skill{
  /* background-color: #f0f0f0; */
  margin: 2px 2px;
  position: relative;
  /* z-index: 1; */
}
.skills_div_class{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.list_network{
  margin-top: -80px !important; 
  margin-bottom: 30px;
}

.shown_if_width_900plus{
  display: block;
  margin-left: 2px;
}
@media screen and (max-width: 900px) {
  .shown_if_width_900plus {
    display: none; } }

@media screen and (max-width: 580px) {
  .list_network{
    margin-top: -35px !important; 
    margin-bottom: 30px;
  }
}
.button.image{
  width: 100%; 
  object-fit: 
  contain; padding: 0; 
	overflow: visible !important; 
  border-radius: 0;
	background-color: transparent;
  transition: 0.1s ease-out;
}
.button.image:hover{
  transform: scale(1.08);
  /* opacity: 0.8; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}
.graph_control_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 20px; 
  z-index: 10;
}
