.skill_tab-nav {
  margin: auto;
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.skill_tab-nav.four {
  width: fit-content;
  max-width: 100%;
  /* border-bottom: 1px solid gray; */
}

.skill_tab-nav-option {
  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(142, 142, 142);
  padding: 5px 5px 4px 5px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* margin: auto 10px; */
  border-bottom: 1px solid rgb(142, 142, 142);
  position: relative;
  box-sizing: border-box !important;
  margin-bottom: 15px;
  cursor: pointer;
}


.skill_tab-nav-option svg {
  margin-right: 5px;
  font-size: 16px;
}

.skill_tab-nav-option:hover {
  color: #0F5FA6;
}

.skill_tab-nav-option-active, .p_active {
  color: rgb(142, 142, 142);
  border-top: 1px solid rgb(142, 142, 142);
  border-left: 1px solid rgb(142, 142, 142);
  border-right: 1px solid rgb(142, 142, 142);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
  background-color: #bff0f0;
  cursor: default;
}
.p_active::after {
  content: '';
  width: calc(100% + 2px);
  height: 8px;
  /* background: #f0f0f0; */
  position: absolute;
  bottom: -1px;
  left: -1px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-radius: 5px 5px 0px 0px;
  mix-blend-mode: overlay;
  /* z-index: 10; */
}
.graph{
  font-size: 15px;
  background-color: #e0f0ff;
}
.p_active.graph{
  background-color: #bff0ff;
}

.next_to_active_right{
  border-radius: 5px 5px 5px 0px;
}
.next_to_active_left{
  border-radius: 5px 5px 0px 5px;
}
.next_to_active_right,
.next_to_active_left{
  /* z-index: 1; */
}

.navdiv{
  margin-top: -35px;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid gray; */
}
.article_skill{
  /* background-color: #f0f0f0; */
  margin: 2px 2px;
  position: relative;
  /* z-index: 1; */
}
.skills_div_class{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.show_over_flow{
  overflow: visible !important;
}

.list_network{
  margin-top: -80px !important; 
  margin-bottom: 30px;
}

.shown_if_width_900plus{
  display: block;
  margin-left: 2px;
}
@media screen and (max-width: 900px) {
  .shown_if_width_900plus {
    display: none; } }

@media screen and (max-width: 580px) {
  .list_network{
    margin-top: -35px !important; 
    margin-bottom: 30px;
  }
}
.button.image{
  width: 100%; 
  object-fit: 
  contain; padding: 0; 
	overflow: visible !important; 
  border-radius: 0;
	background-color: transparent;
  transition: 0.1s ease-out;
}
.button.image:hover{
  transform: scale(1.08);
  /* opacity: 0.8; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}
.graph_control_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 10px;
  top: 20px; 
  z-index: 10;
}
.button.small{
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  height: 22px;
  width: 28px;
  padding: 0px 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.575);
  color: rgba(0, 0, 0, 0.747) !important;
  margin: 4px 2px;
  position: relative;
  /* color: #ff781e; */
}
.button.small.icon{
  font-size: 18px;
}
.button.small.icon:active,
.button.small.icon:focus{
  outline: none !important;
}
.tooltip_small{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.tooltip_small_text{
  display: none;
  /* visibility: visible; */
  transition: 0.2s ease-out;
  position: absolute;
  bottom: 20px;
  left: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 12px;
  /* border: 1px solid rgba(13, 135, 151, 1); */
  background-color: #0000007e;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.199); */
  padding: 2px 10px;
  height: 30px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.tooltip_small:hover .tooltip_small_text{
  display: flex;
  /* visibility: visible; */
}
.project_skills_div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.skills_column_div{
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 110px;
  margin: auto 5px;
}
.project_header_div{
  border-bottom: 2px solid #0F5FA6;
}
.project_header_div img{
  width: 110px;
  height: 110px;
  object-fit: contain;
}
.technology-icon.small{
  width: 45px;
  height: 45px;
  object-fit: contain;
  margin: 2px 2px;
}

